html, body, .container-table {
    width: 100%;
    height: 100%;
    background-color: #f7e1b5;
}
.manually-show-modal {
    display:block !important;
    z-index: 1060;
}
.my_modal_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1055;
    background-color: #000;
    opacity: 0.5;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
#loadingIndicator {
  margin: auto;
  width: 200px;
  height: 200px;
  position: relative;
}
.function_btn{
    margin-top: 5px;
    width:275px;
    /*height:80px;*/
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
}
.my_ul{
    list-style-type: none;
    text-align: center;
    height: 275px;
    overflow-y: scroll;
}
.my_li_btn{
    width:300px;
    /*height:50px;*/
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}
#options, #member_options{
    list-style-type: none;
    text-align: center;
}
#options li, #member_options li{
    margin-top: 10px;
}
ul{
    padding: 0px;
}
.optionBtn, .memberBtn{
    width:300px;
    /*height:50px;*/
    border-radius: 10px;
    font-size: 20px;
}
.alert{
    text-align: center;
    width: 275px;
    margin: 0 auto;
    height: 30px;
    padding: 0px;
    font-size: 20px;
}
#shakeImage{
    display: block;
    margin: auto;
    width: 300px;
    margin-bottom: 5px;
}
#successName_wrapper{
    overflow: hidden;
}
#successName{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    height: 150px;
    /*overflow:auto;*/
    overflow-y: scroll;
}
#successImage{
    display: block;
    margin: auto;
    width: 125px;
    margin-bottom: 5px;
}
#prompt{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#prompt2{
    text-align: center;
    width: 275px;
    margin: 0 auto;
    height: 30px;
    padding: 0px;
    font-size: 20px;
}
.my_prompt{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}
#chance{
    text-align: center;
    width: 275px;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 30px;
    padding: 0px;
    font-size: 20px;
}
.btn{
    white-space:normal !important;
    word-wrap: break-word; 
}
#btns{
    text-align: center;
}
